// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.
// For options, see node_modules/bootstrap/scss/_variables.scss

// Examples:

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

// Import Bootstrap styles:
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials:

// Custom styles:


.navbar {
  background-color:#333; 
  border-bottom: 2px solid transparent;
}

.navbar-nav .nav-link:hover {
  border-bottom: 2px solid grey;
  transition: border-bottom 0.3s ease;
}

.navbar-nav .nav-link.active {
  font-weight: bold; 
}

.jumbotron {
  background: url('../img/pirate-ship.jpg') no-repeat center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 100px 0; 
  font-family: 'Castoro Titling', sans-serif;
}

.custom-font {
  font-family: 'Castoro Titling', sans-serif;
}

/* Footer styles */
.footer {
  background-color: #333; 
  color: #fff; 
  text-align: center;
  padding: 20px 0; 
}

/* Cards styles */
.card {
  margin: 20px 0;
}

.card-title {
  font-weight: bold;
}

.card-text {
  color: #555;
}

.article-heading {
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
}

.article-byline {
  font-style: bold;
  color: black;
  margin-left: 20px;
}


.author-name {
  font-weight: bold;
  color: #000;
  margin: 20px;
}

.source {
  font-style: italic;
  margin-left: 20px;
}

.article-text {
  margin-top: 20px;
  font-size: 16px;
}

.custom-image {
  max-width: 75%;
  height: auto;
  margin: 20px 10px;
}

.carousel {
margin: 20px 10px;
}

.carousel-caption {
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: #fff; 
  padding: 10px;
  border-radius: 10px; 
  position: center;
  bottom: 0;
  left: 0;
  width: 100%
}

  .carousel-inner {
    text-align: center;
  }